@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
* {
  box-sizing: border-box;

}
a {
  all: unset;
}
body {
  font-family: "Raleway", sans-serif;
  background: #222;
  color: #ddd;
}
img {
  object-fit: cover;
}

.root {
  display: flex;
  justify-content: center;
}

.logo {
  font-family: 'UnifrakturCook', cursive;
  font-size: 36px;
                                                
}
.box-shadow {
  box-shadow: 0px 15px 15px 0px rgba(0,0,0,0.3);

}