@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
* {
  box-sizing: border-box;

}
a {
  all: unset;
}
body {
  font-family: "Raleway", sans-serif;
  background: #040403;
  color: #D6C9C9;
  padding: 20px;
}
img {
  object-fit: cover;
  min-height: 100vh;
}
.root {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: 'UnifrakturCook', cursive;
  font-size: 36px;
                                                
}